<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify</title>
   
</head>
<body>
    


<form method="GET" action="/artist-search">
    <label> Artist's name 
      <input type="text" name="artist">
    </label>
<button type="submit">Search for artists</button>

</form>

</body>
</html>